

body {
	background-image: url("../images/food-background.jpg");  
}

.jumbotron {
	text-align: center;
	margin-top: 20px;
}

.container {
	background-color: gray; 
}

.col-lg-12 {
	background-color: white;
}

#timer-box{
	background-color: white; 
}


